# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/

# 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